<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiancheng.ms.dao.mapper.AlarmMapper">
    <resultMap id="BaseResultMap" type="com.tiancheng.ms.entity.AlarmEntity">
        <!-- generate by mybatis-generator-zy, don't modify -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="produce_id" property="productId" jdbcType="INTEGER"/>
        <result column="process_id" property="processId" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="resolved" property="resolved" jdbcType="BIT"/>

    </resultMap>


    <select id="listAlarm" resultType="com.tiancheng.ms.dto.AlarmDTO">
        select p1.code as produceCode, p2.name as productName, p3.name as processName,
        a.create_time as createTime, a.type as type, a.content as content
        from alarm a
        left join produce p1 on p1.id = a.produce_id
        left join product p2 on p2.id = a.product_id
        left join process p3 on p3.id = a.process_id
        <where>
            p1.create_by = #{currentUser}
            and DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt; a.create_time
            <if test="type != null">and type = #{type}</if>
        </where>
        order by a.create_time desc
    </select>

</mapper>