<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiancheng.ms.dao.mapper.ProcessMapper">
    <resultMap id="BaseResultMap" type="com.tiancheng.ms.entity.ProcessEntity">
        <!-- generate by mybatis-generator-zy, don't modify -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="charge_user_id" property="chargeUserId" jdbcType="INTEGER"/>
        <result column="charge_user_name" property="chargeUserName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>

    </resultMap>
    <select id="selectByProductId" resultMap="BaseResultMap">
        select * from product_process r left join process p on r.process_id = p.id
        where r.product_id = #{productId} and p.type = 1 order by priority
    </select>
    <select id="getProduceProcess" resultType="com.tiancheng.ms.entity.ProcessEntity">
        select p3.*
        from product p1
        join product_process p2
        on p1.id = p2.product_id
        left join process p3
        on p3.id = p2.process_id
        where p1.code = #{productCode}
        order by p3.priority desc
    </select>

</mapper>