<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiancheng.ms.dao.mapper.ProduceProcessMapper">
    <resultMap id="BaseResultMap" type="com.tiancheng.ms.entity.ProduceProcessEntity">
        <!-- generate by mybatis-generator-zy, don't modify -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="produce_id" property="produceId" jdbcType="INTEGER"/>
        <result column="process_id" property="processId" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="produce_product_id" property="produceProductId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="start_num" property="startNum" jdbcType="INTEGER"/>
        <result column="end_num" property="endNum" jdbcType="INTEGER"/>
        <result column="charge_user_name" property="chargeUserName" jdbcType="VARCHAR"/>
        <result column="process_name" property="processName" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="listProduceProcess" resultType="com.tiancheng.ms.dto.ProduceProcessDTO">
        select
        p.id as id, p.produce_id as produceId, p.product_id as productId,
        p.produce_product_id as produceProductId, p.process_id as processId,
        p.start_time as startTime, p.end_time as endTime, p.start_num as startNum,
        p.end_num as endNum, p.charge_user_name as chargeUserName, p.process_name as processName
        from produce_process p
        where p.produce_product_id = #{produceProductId} order by p.id desc
    </select>
    <select id="getNextProcess" resultMap="BaseResultMap">
        select p2.* from
        produce_process p1
        join produce_process p2
        on p1.next_process = p2.process_id
        where p1.id = #{produceProcessId} and p2.produce_product_id = p1.produce_product_id
    </select>

    <select id="selectUnOverProduceContainProcessId" resultType="com.tiancheng.ms.dto.ProduceProcessDTO">
       select p1.*,p3.code as produceCode
        from produce_process p1
        left join produce p3 on p3.id = p1.produce_id
         where p1.produce_id in
            (select p2.produce_id from produce_process p2 where p2.process_id = #{processId})
        and p1.process_id = #{endProcessId} and p1.status is null
    </select>


</mapper>