<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiancheng.ms.dao.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.tiancheng.ms.entity.ProductEntity">
        <!-- generate by mybatis-generator-zy, don't modify -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nums_per_stove" property="numsPerStove" jdbcType="INTEGER"/>
        <result column="alert_percent" property="alertPercent" jdbcType="INTEGER"/>
        <result column="weight" property="weight" jdbcType="DOUBLE"/>
        <result column="image_code" property="imageCode" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="queryByParam" resultMap="BaseResultMap">
        select * from product
        <where>
            <if test="queryParam.code != null and queryParam.code != ''">
                code like concat('%',#{queryParam.code}, '%')
            </if>
            <if test="queryParam.name != null and queryParam.name != ''">
                name like concat('%',#{queryParam.name}, '%')
            </if>
        </where>
    </select>

</mapper>