<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiancheng.ms.dao.mapper.ProduceProcessMapper">
    <resultMap id="BaseResultMap" type="com.tiancheng.ms.entity.ProduceProcessEntity">
        <!-- generate by mybatis-generator-zy, don't modify -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="produce_id" property="produceId" jdbcType="INTEGER"/>
        <result column="process_id" property="processId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="start_num" property="startNum" jdbcType="INTEGER"/>
        <result column="end_num" property="endNum" jdbcType="INTEGER"/>
        <result column="charge_user_name" property="chargeUserName" jdbcType="VARCHAR"/>
        <result column="process_name" property="processName" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="listProduceProcess" resultType="com.tiancheng.ms.dto.ProduceProcessDTO">
        select p1.*,p2.name as processName,p2.charge_user_name as chargeUserName from produce_process p1
        left join process p2 on p1.process_id = p2.id
        where p1.produce_id = #{produceId} and p2.type = 1 order by p2.priority
    </select>
    <select id="getNextProcess" resultMap="BaseResultMap">
        select p2.* from
        produce_process p1
        join produce_process p2
        on p1.next_process = p2.process_id
        where p1.id = #{produceProcessId}
    </select>
    <select id="selectUnOverProduceContainProcessId" resultType="com.tiancheng.ms.dto.ProduceProcessDTO">
       select p1.*,p3.code as produceCode
        from produce_process p1
        left join produce p3 on p3.id = p1.produce_id
         where p1.produce_id in
            (select p2.produce_id from produce_process p2 where p2.process_id = #{processId})
        and p1.process_id = #{endProcessId} and p1.status is null
    </select>


</mapper>